/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


/* ======= Body ======= */
.menu {visibility: hidden;}
.botones {visibility: hidden;}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #540B51;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* ======= Navbar ======= */
nav {
    margin-right: 5%;
    margin-left: 5%;
    max-height: auto;
    max-width: auto;
    background-color: #540B51;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.slacklogo {
    width: 30%;
    height: 30%;
}


.menuBuscador img {
    width: 20px;
}

.menuBuscador button {
    background-color: transparent;
    border:none
}

.menuBoton {
    width: 20px;
}

.menuBoton button {
    background-color: transparent;
    border:none;
}




/* ======= Header ======= */
header {
    width: auto;
    height: auto;
    background-image: url(../images/background-singup.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamwork {
    margin: 20px 20px;
    text-align: center;
}

.teamwork h1 {
    font-size: 45px;
    width: auto;
}

.gratis {
    color: orange;
}

.botonEmail {
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botonEmail button {
    border-radius: 5px;
    margin-bottom: 3%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
}

.loginGoogle {
    background-color: rgb(38, 141, 201);
    border: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imagenGoogle {
    width: 37px;
    background-color: white;
}

.captura {
    width:300px;
}

/* ======= Main ======= */

/* --- Logos Section --- */
.logos {
    background-color: rgb(214, 190, 160);
    color: black;
    max-width: auto;
    height: auto;
    padding: auto;
}

.logos p {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

.logos-fila {
    padding-bottom: 20px;
}

.logos img {
    max-width: 200px;
    max-height: 50px;
}

/* --- Empresas Section --- */
.empresas {
    background-color: white;
    color: black;
    padding: 20px 10px 20px 10px;
}

.empresas h3 {
    color: #540B51;
    font-size: 35px;
    text-align: center;
}

.subtitulo {
    font-weight: bold;
    text-align: center;
}

.empresas span {
    color: #540B51;
    font-weight: bold;
    font-size: 50px;
}

.empresas ul {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.empresas ul li {
    padding: 20px 20px;    
}

/* --- Welcome Section --- */
.welcome {
    text-align: center;
    padding-bottom: 20px;
}

.welcome h3 {
    font-size: 30px;
}

.welcome button {
    width: 200px;
    height: 50px;
}

.button1 {
    background-color: white;
    color: #540B51;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.button2 {
    background-color: #540B51;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-transform: uppercase;
}

/* ======= Footer ======= */
footer {
    background-color: white;
    color: black;
    padding: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: bold;
}


.blue {
    color: rgb(0, 140, 255);
}

.rrss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rrss li {
    padding: 20px;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .slacklogo {
        width: 20%;
        height: 20%;
    }

    .menuBuscador img {
        width: 35px;
    }
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .teamwork {
        text-align: start;
        max-width: 50%;
    }

    .captura {
        width: 500px;
    }

    .empresas ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome button {
        width: 600px;
    }

    footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
}


@media (min-width: 1024px) and (max-width: 1440px) {
.menu {visibility: visible;}
.botones {visibility: visible;}


.menu a {
    font-size: 20px;
}

body p {
    font-size: 25px;
}

.teamwork h1 {
    font-size: 80px;
}

.empresas h3 {
    font-size: 50px;
}
.teamwork {
    width: 40%;
}

.menu {
    list-style: none;
}
.captura {
    width: 550px;
}

.menu ul {
    
    list-style: none;
    display: flex;
}

.menu a {
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

.signIn {
    background-color: transparent;
    border: transparent;
}

.signIn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 

.tryForFree a {
    text-decoration: none;
    color:#540B51;
    font-weight: bold;
    text-transform: uppercase;
}


.tryForFree {
    background-color: white; 
}
   

.botones button {
    height: 40px;
    border-radius: 5px;
}

.botonEmail button {
    width: 400px;
    height: 50px;
}

.welcome button {
    width: 200px;
}

.logos-fila {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.slacklogo {
    width: 20%;
    height: 20%;
}

}


@media (width >= 1440px) {
    .menu {visibility: visible;}
    .botones {visibility: visible;}

    .menu a {
        font-size: 40px;
    }

    .slacklogo {
        width: 20%;
        height: 20%;
    }
    
    body p {
        font-size: 50px;
    }
    
    .teamwork h1 {
        font-size: 100px;
    }
    
    .empresas h3 {
        font-size: 70px;
    }
    .teamwork {
        width: 40%;
    }
    
    .menu {
        list-style: none;
    }

    .menu ul {
    
        list-style: none;
        display: flex;
    }

    .captura {
        width: 800px;
    }

    .menu a {
        font-weight: bold;
        margin-right: 30px;
        text-decoration: none;
        color: white;
    }
    
    .signIn {
        background-color: transparent;
        border: transparent;
    }
    
    .signIn a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    } 
    
    .tryForFree a {
        text-decoration: none;
        color:#540B51;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    
    .tryForFree {
        background-color: white; 
    }
       
    
    .botones button {
        height: 40px;
        border-radius: 5px;
    }
    
    .botonEmail button {
        width: 400px;
        height: 50px;
    }
    
    .welcome button {
        width: 200px;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .botonEmail button {
        font-size: 30px;
        width: 600px;
        height: 70px;
    }

    .logos-fila {
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logos img {
        max-width: 300px;
        max-height: 100px;
    }

    .empresas ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .welcome h3 {
        font-size: 60px;
    }

    .welcome button {
        font-size: 25px;
        font-weight: bold;
        width: 400px;
        height: 130px;
    }

    footer ul {
        font-size: 30px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: bold;
    }
}





